.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /*background: linear-gradient(blue 1%, white 90%);*/
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar { background-color: #9342f5; }

.container {
	min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table caption { text-align: center; font-size: 20pt; display: table-caption;}

.footer {
	background-color: #9342f5;
	color: white;
}

.footer a { color: white;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
